
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    background-color: #1b263b ;
}
html {
    scroll-behavior: smooth;
}


@font-face {
    font-family: external;
    src: url(mycursive.otf);
}
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 12px 100px;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 1000;
    min-height: 80px;
}

.logo {
    color: white;
    font-size: 50px;
    padding-left: 15px;
    font-family: external;

}

.nav-links {
    list-style: none;
    display: flex;
    
}

.nav-links li {
    margin-left: 65px;
}
.nav-links a {
    color: white;
    text-decoration: none;
    font-size: 24px;
    font-weight: 500;
    position: relative;
    padding-bottom: 5px;
    transition: color 0.3s;
}

.nav-links a::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0; 
    width: 0;
    height: 2px;
    background-color: #778da9 ; 
    transition: width 0.3s ease-in-out;
}

.nav-links a:hover {
    color: c; 
}

.nav-links a:hover::after {
    width: 100%; 
}



.menu-icon {
    display: none;
    font-size: 28px;
    color: white;
    cursor: pointer;
    position: absolute;
    right: 30px;
}

.profile {
    width: 380px; 
    height: 380px; 
    border-radius: 50%; 
   margin-top: 50px;
   object-fit: cover;
  margin-bottom: 80px;
}

#home{
    display: flex;
    align-items: center;
    gap: 60px;
    text-align: center;
    justify-content: center;
    
}
.start{
    display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
    
}
.intro {
    font-size: 18px;
    color: white;

    
}

.name {
    font-size: 48px;
    font-weight: bold;
    color: white;
}

.role {
    font-size: 24px;
    color: white;
    margin-bottom: 20px;
}

.botm{
    margin-top: 5px;
    display: flex;
    justify-content: center;
    gap: 20px;
}
.btn{
    padding: 15px 25px;
    font-size: 16px;
    background-color: rgb(65, 77, 134);
    color: white;
    text-decoration: none;
    border-radius: 20px;
}
.btn:hover{
    background-color: rgb(52, 61, 107);  
}

.btncv{
    padding: 15px 25px;
    font-size: 16px;
    color: white;
    border: 1.5px solid white;
    text-decoration: none;
    border-radius: 20px;
    background-color: transparent;
    transition: background-color 0.3s ease, color 0.3s ease;
}
.btncv:hover {
    background-color: rgb(52, 61, 107); 
    color: white; 
    border-color: rgb(52, 61, 107); 
}

.head{
   display: flex;
   flex-direction: column;
   align-items: center;
    justify-content: center;
    padding-top: 80px;
    color: white;
}

.get{
    font-size: 18px;
    margin-bottom: 10px;
    font-weight: 300; 
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.abt{
    font-size: 39px;
}
.botm{
    padding-top: 20px;
}









@media (max-width: 768px) {
    .nav-links {
        display: none;
        flex-direction: column;
        position: absolute;
        top: 60px;
        right: 0;
        background: #1b263b  ;
        width: 200px;
        text-align: center;
        border-radius: 5px;
        padding: 15px 0;
        
    }

    .nav-links.active {
        display: flex;
    }

    .nav-links li {
        margin: 17px 0;
    }
    
   
    .menu-icon {
        display: block;
    }
    #home {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding-top: 20px;
        gap: 0px;
        
    }

    .profile {
        width: 250px;
        height: 250px;
        margin-bottom: 0px;
        object-fit: cover;
       margin-bottom:-20px;
    }

    .start {
        text-align: center;
        margin-top: 65px;
 
    }

    .name {
        font-size: 36px;
        margin: 0;
        padding: 0;
        margin-bottom: 8px;
    }

    .role {
        font-size: 30px;
        margin: 0;
        padding: 0;
       

    }
    .intro {
        font-size: 20px; 
        margin: 0;
        padding: 0;
        margin-bottom: 10px;
    }
    
}

